<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>iPhone Menu</title>
</head>

<body>
    <div class="wrapper">
        <div class="box">
            <div class="container">
                <div class="small_items contact">
                    <div class="contact_device">
                        <div class="item"><i class="fa-solid fa-desktop"></i></div>
                        <div class="item"><i class="fa-solid fa-mobile-screen" style="transform: rotate(-90deg);"></i>
                        </div>
                    </div>
                    <div class="focus">
                        <div class="focus_icon_wrapper">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <h4>Focus</h4>
                    </div>
                </div>
                <div class="small_items double_line_to_top">
                    <div class="item add_inducator" style="--i:74%;--c:rgba(0,0,45,0.5)">
                        <p>Data</p>
                    </div>
                    <div class="item add_inducator" style="--i:45%; --c:rgba(0,45,0,0.5)">
                        <p>Files</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="small_items double_line_to_top double_line_to_top_1">
                    <div class="item add_inducator" style="--i:14%;--c:rgba(70,0,0,0.5)">
                        <p>Virus</p>
                    </div>
                    <div class="item add_inducator" style="--i:30%; --c:rgba(45,45,0,0.5)">
                        <p>Error</p>
                    </div>
                </div>
                <div class="small_items four_item">
                    <div class="item" style="--icon_color:#00808088"><i class="fa-solid fa-globe"></i></div>
                    <div class="item" style="--icon_color:#4CAF5088"><i class="fa-solid fa-battery-three-quarters"></i></div>
                    <div class="item" style="--icon_color:#2776cc88"><i class="fa-solid fa-wifi"></i></div>
                    <div class="item" style="--icon_color:#03A9F488"><i class="fa-brands fa-bluetooth-b"></i></div>
                </div>
            </div>
        </div>
        <div class="context">
            <div class="title">
                <h1>Menu</h1>
            </div>
            <div class="main_content">
                <p>
                    iPhone Menu is a free and open-source app that allows you to easily access the iPhone menu.
                    It also allows you to easily access the settings of the iPhone.
                    It also allows you to easily access the battery information of the iPhone.
                    It also allows you to easily access the Wi-Fi information of the iPhone.
                    It also allows you to easily access the Bluetooth information of the iPhone.
                    It also allows you to easily access the data of the iPhone.
                </p>
            </div>
            <button>Read More</button>
        </div>
    </div>
    <script src="../js/app.js"></script>
</body>

</html>