*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nunito";
    color: white;
    text-shadow: 0px 0px 10px rgba(127, 255, 212, 0.59);
}
body{
    min-height: 100vh;
    background-image: url(../img/main_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #011a1e7a;
    background-blend-mode: color;
    display: grid;
    place-items: center;
}
.wrapper{
    width: 800px;
    height: 400px;
    border-radius: 60px;
    border: 1px solid rgba(2, 33, 59, 0.351);
    background: linear-gradient(45deg ,rgba(68, 29, 70, 0.1) , rgba(8, 30, 90, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.box{
    width: 50%;
    height: 100%;
    border: 1px solid rgba(4, 26, 40, 0.351);
    background: linear-gradient(45deg ,rgba(7, 42, 53, 0.4) , rgba(116, 116, 116, 0.4));    
    backdrop-filter: blur(50px);
    border-radius: 50px;
}
.container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small_items{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.contact{
    flex-direction: column;
    gap: 10px;
}
.contact_device{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.contact_device > div{
    width: 50%;
    height: 100%;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.434);
    background-color: #9c9c9c5e;
    display: grid;
    place-items: center;
    font-size: 2em;
}
.focus{
    width: 100%;
    height: 50%;
    border: 1px solid rgba(255, 255, 255, 0.434);
    background-color: #9c9c9c5e;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.focus_icon_wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #3d3d3d5e;
    display: grid;
    place-items: center;
    font-size: 1.2em;
}
.double_line_to_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.double_line_to_top > div{
    width: 50%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.434);
    background-color: #9c9c9c5e;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}
.add_inducator{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.add_inducator::before , .four_item > div::before{
    content: "";
    width: 100%;
    height: var(--i);
    background-color:var(--c);
    position: absolute;
    bottom: 0;
    z-index: -1;
    border-radius: 10px;
}
.four_item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.four_item > div{
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.516);
    border-radius: 40px;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    font-size: 2em;
}
.four_item > div::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color:var(--icon_color);
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.double_line_to_top_1{
    flex-direction: column;
}
.double_line_to_top_1 > div{
    width: 100%;
    height: 50%;
}
.double_line_to_top_1 > div::before{
    content: "";
    width: var(--i);
    left: 0;
    height: 100%;
    background-color:var(--c);
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.context{
    width: 50%;
    height: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
button{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color:rgba(255, 255, 255, 0.434);
    border: 1px solid rgba(255, 255, 255, 0.648);
    font-size: 1.2em;
    cursor: pointer;
}